*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'kumbh sans', sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    background: purple;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.nav__conts{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 auto;
}
#page__name strong{
    color: white;
    font-family: times;
}
#page__name{
    padding-top: 22px;
    padding-left: 20px;
    color: yellow;
}
.menu-btn{
    background: #297fb928;
    color: white;
    padding: 6px;
    font-size: 16px;
    border: 1px solid white;
    width: 80px;
    cursor: pointer;
}
span{
    text-align: center;
    color: whitesmoke;
    padding-top: 28px;
}
.menu-btn:hover, .menu-btn:focus{
    background: #2980b9;
}
.dropdown{
    padding-right: 29px;
    position: relative;
    display: inline-block;
    padding-top: 22px;
}
.menu-contents{
    display: none;
    position: absolute;
    background: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px 
    rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.menu-contents a {
    color: darkblue;
    padding: 9px 11px;
    text-decoration: none;
    display: block;
}
.menu-contents a:hover
{background-color: plum;}

.show {display: block;}

#funds{
    background: darkblue;
    height: 40px;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    top: 0;
    position: flex;
}
#bal{
    padding-top: 10px;
    float: left;
    color: whitesmoke;
}
.div-bal a{
    text-decoration: none;
}
#sell-btn:hover{
    background-color: teal;
}

.div-bal{
    float: left;
    text-align: center;
    padding-left: 15px;
    padding-right: 110px;
}
#sell-btn{
  width: 70px;
  margin: 7px;
  border: 1px solid white;
  background: none;
  color: #f1f1f1;
  outline: none;
  
}
.sell-list{
    display: flex;
    float: right;
    padding-top: 2px;
    padding-left: 300px;
    text-align: center;
}
.div-bal{
    text-align: center;
    justify-content: center;
    display: flex;
}


#sell button:hover{
    color: lime;
}

/* Crypto section begins here*/


.main-section{
    height: 100vh;
}
.crypts{
    border-right: 1px solid blue;
    overflow-y: scroll;
    float: left;
    width: 60%;
    height: 535px;
    color: blue
}
.crypts::-webkit-scrollbar {
    display: none;
}
.nft-div{
    float: right;
    width: 40%;
    color: blue;
    height: 535px;
}
.crypt-head{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.nft-head{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: blue;
}
.image-div{
    padding-left: 30px;
    margin-bottom: 10px;
}
.image-div em{
    margin-top: 50px;
    padding-left: 20px;
}
#monkey{
    border-radius: 70px;
}
.descri{
    text-align: center;
}
.nft-recy{
    text-align: center;
    padding: 20px;
}
.recy-btn{
    width: 120px;
    height: 20px;
    background: blue;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px paleturquoise;
    cursor: pointer;
}
.recy-btn:hover{
    color: greenyellow;
}
.recy-btn:active{
    background: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(5px);
}
.ul-sect{
    list-style: none;
}
.token-li{
    padding-top: 15px;
    float: right;
    padding-right: 7px;
    font-size: 14px;
    font-weight: bold;
    justify-content: left;
}
.tknval{
    background: none;
    color: fuchsia;
    font-weight: bold;
    width: 50px;
    font-size: 15px;
    border: none;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 50px;
}
.tknval em{
    font-size: 11px;
    color: yellowgreen;
}
#imgs{
    float: left;
    border-radius: 50px;
}
#imgs-tron{
    float: left;
    border-radius: 50px;
    border: 1px solid white;
}
.btc-btn{
    background: yellow;
    width: 50px;
    height: 50px;
    color: blue;
    font-weight: bold;
    border-radius: 60px;
    border: none;
}
.tron-btn{
    background: rgb(0, 255, 255);
    width: 50px;
    height: 50px;
    color: blue;
    font-weight: bold;
    border-radius: 60px;
    border: none;
}

/* Crypto Section ends here!*/

.footer{
    background: rgb(0, 3, 5);
    bottom: 0;
    position: fixed;
    height: 60px;
    width: 100%;
    border-top: 2px solid blue;
}
.footer.cnts{
    background: darkblue;
    height: 50px;
    font-size: 15px;
    top: 0;
    position: flex;
}
.div-fks{
    padding-top: 12px;
    padding-left: 12px;
}
.footer-links button a{
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}
.footer-links button{
    background: white;
    width: 100px;
    height: 30px;
    border: 2px solid blue;
    border-radius: 5px;
}
.address{
    padding-left: 60px;
    color: white;
}
.address strong{
    color: yellow;
}
#walle{
    color: whitesmoke;
    font-size: 12px;
    font-weight: bold;
    font-family: arial;
    margin: 10px;
    text-decoration: none;
}
.bags-color{
    float: right;
    padding-right: 2px;
}
#dark{
    background: black;
    color: white;
    width: 50px;
    height: 20px;
}
#light{
    color: black;
    width: 50px;
    height: 20px;
}
.bags-color{
    padding-top: 8px;
    padding-right: 8px;
}


@media (max-width:500px){
    body{
        font-size: 12px;
    }
    #page__name{
        font-size: 23px;
    }
    .menu-btn{
        width: 50px;
        height: 19px;
        font-size: 10px;
        padding: 0;
        margin: 0;
        font-weight: bold;
    }
    .dropdown{
        padding-right: 29px;
        position: relative;
        display: inline-block;
        padding-top: 22px;
    }
    .menu-contents{
        display: none;
        position: absolute;
        background: #f1f1f1;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px 
        rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    .menu-contents a {
        color: darkblue;
        padding: 9px 11px;
        text-decoration: none;
        display: block;
    }
    .div-bal{
        text-align: center;
        justify-content: center;
        display: flex;
    }
    #bal{
        padding-top: 10px;
        float: left;
        color: chartreuse;
    }
    .sell-list{
        display: flex;
        float: right;
        padding-left: 40px;
    }
    .div-bal a{
        font-family: arial;
        text-decoration: none;
        color: white;
        padding-left: 5px;
        padding-top: 9px;
        font-size: 11px;
        font-weight: bold;
    }
    
    #sell-btn{
        margin: 0;
        float: right;
        background: none;
        width: 40px;
        height: 19px;
        border: 1px solid whitesmoke;
        border-radius: 30px;
        color: #f1f1f1;
        font-family: sans-serif;
        font-size: 8px;
        font-weight: bold;
        cursor: pointer;
        outline: none;
    }
