*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'kumbh sans', sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    background: lightskyblue;
    padding: 7px;
    display: flex;
}
#page__name strong{
    color: purple;
    
}
#page__name{
    color: blue;
    font-family: times;
    padding-left: 20px;
}
.user-div{
    padding-left: 1000px;
    padding-right: 0;
    padding-top: 6px;
    right: 0;
    float: right;
}
select{
    width: 75px;
    background: lightskyblue;
    color: darkblue;
    border: 2px solid purple;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    font-family: arial;
}
.fund-div{
    display: flex;
    background: royalblue;
    
}
.div-bal{
    padding-top: 10px;
    color: white;
    padding-left: 30px;
    font-weight: bold;
}
.trans-ul{
    display: flex;
    padding-left: 800px;
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
    font-weight: bold;
}
a{
    margin: 10px;
    color: whitesmoke;
    text-decoration: none;
}
a:hover{
    color: orangered;
}
.nav-btn{
    background: none;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    border-radius: 5px;
    width: 70px;
}
.nav-btn:hover{
    color: orangered;
}
.main{
    display: flex;
    height: 100vh;
    color: darkblue;
}
.coins-div{
    flex: 1.5;
    border-right: 2px solid blue;
}
.nft-div{
    flex: 1;
    padding-top: 5px;
}
.crypt-div{
    padding-left: 6px;
    
}
ul{
    list-style: none;
    
}

img{
    background-position: center;
    padding-top: 5px;
    border-radius: 50px;
    margin: 4px;
}
span{
    float: right;
    padding-right: 4px;
    padding-top: 29px;
}
.coin-name{
    float: right;
    padding-right: 580px;
    padding-top: 21px;
    font-family: arial;
}
.id-div{
    padding-left: 7px;
}

.footer{
    background: rgb(0, 3, 5);
    bottom: 0;
    position: fixed;
    height: 50px;
    width: 100%;
    border-top: 2px solid blue;
}

.footer-links{
    font-size: 15px;
    padding-top: 5px;
    text-decoration: none;
    font-weight: bold;
}

#walle{
    color: whitesmoke;
    font-size: 12px;
    font-weight: bold;
    font-family: arial;
    margin: 5px;
    padding-top: 26px;
    text-decoration: none;
}
#wallet{
    color: black;
    font-size: 12px;
    font-weight: bold;
    font-family: arial;
    margin: 5px;
    padding-top: 26px;
    text-decoration: none;
}

#dark{
    background: black;
    color: white;
    width: 50px;
    padding-bottom: 5px;
    height: 20px;
    border-radius: 5px;
    float: right;
}
#light{
    color: black;
    width: 50px;
    height: 20px;
    float: right;
}

@media (max-width:500px){
    body{
        font-size: 12px;
    }
    #page__name{
        font-size: 23px;
    }
    #page__name{
        color: blue;
        font-family: times;
        padding-left: 0;
    }
    .user-div{
        padding-left: 200px;
        padding-right: 0;
        padding-top: 9px;
        right: 0;
        float: right;
    }
    
    select{
        width: 75px;
        background: lightskyblue;
        color: darkblue;
        border: 2px solid purple;
        border-radius: 5px;
        font-size: 12px;
        font-weight: bold;
        font-family: arial;
    }
    .trans-ul{
        display: flex;
        padding-left: 30px;
        text-decoration: none;
        list-style: none;
        color: whitesmoke;
        font-weight: bold;
    }
    .div-bal{
        padding-top: 8px;
        color: white;
        padding-left: 10px;
        font-weight: bold;
    }
    a{
        margin: 5px;
        color: whitesmoke;
        text-decoration: none;
    }
    .nav-btn{
        background: none;
        border: 2px solid whitesmoke;
        color: whitesmoke;
        font-size: 11px;
        font-weight: bold;
        border-radius: 5px;
        width: 55px;
    }
    .nav-btn:hover{
        color: orangered;
    }
    img{
        background-position: center;
        padding-top: 5px;
        padding: 7px;
        margin: 0;
        border-radius: 100px;
        border: none;
        width: 2rem;
        
    }
    span{
        float: right;
        padding-right: 8px;
        padding-top: 10px;
        font-size: 7px;
    }
    .coin-name{
        float: right;
        padding-right: 150px;
        padding-top: 10px;
        font-size: 7px;
    }

    #dark{
        background: black;
        color: white;
        width: 50px;
        padding-bottom: 5px;
        height: 20px;
        border-radius: 5px;
    }
    #light{
        color: black;
        width: 50px;
        height: 20px;
    }
    @media (max-width:406px){
    
        .user-div{
            padding-left: 220px;
            padding-right: 0;
            padding-top: 9px;
            right: 0;
            float: right;
        }
       
        .coin-name{
            float: right;
            padding-right: 150px;
            padding-top: 10px;
            font-size: 7px;
        }

@media (max-width:405px){
    
    .user-div{
        padding-left: 215px;
        padding-right: 0;
        padding-top: 9px;
        right: 0;
        float: right;
    }
   
    .coin-name{
        float: right;
        padding-right: 144px;
        padding-top: 10px;
        font-size: 7px;
    }

    @media (max-width:390px){
        .user-div{
            padding-left: 190px;
            padding-right: 0;
            padding-top: 9px;
            right: 0;
            float: right;
        }
        .coin-name{
            float: right;
            padding-right: 140px;
            padding-top: 10px;
            font-size: 7px;
        }
    }
    @media (max-width:384px){
        .user-div{
            padding-left: 180px;
            padding-right: 0;
            padding-top: 9px;
            right: 0;
            float: right;
        }
        .coin-name{
            float: right;
            padding-right: 135px;
            padding-top: 10px;
            font-size: 8px;
        }
    }
    @media (max-width:374px){
        .coin-name{
            float: right;
            padding-right: 127px;
            padding-top: 10px;
            font-size: 8px;
        }
    }
    @media (max-width:364px){
        .user-div{
            padding-left: 160px;
            padding-right: 0;
            padding-top: 9px;
            right: 0;
            float: right;
        }
        .coin-name{
            float: right;
            padding-right: 126px;
            padding-top: 10px;
            font-size: 8px;
        }
    }
  
    @media (max-width:358px){
        .coin-name{
            float: right;
            padding-right: 120px;
            padding-top: 10px;
            font-size: 8px;
        }
    }
    @media (max-width:348px){
        .coin-name{
            float: right;
            padding-right: 113px;
            padding-top: 10px;
            font-size: 8px;
        }
    }
    @media (max-width:338px){
        .coin-name{
            float: right;
            padding-right: 107px;
            padding-top: 10px;
            font-size: 8px;
        }
    }
    @media (max-width:329px){
        .coin-name{
            float: right;
            padding-right: 102px;
            padding-top: 10px;
            font-size: 6px;
        }
    }
    @media (max-width:310px){
        .coin-name{
            float: right;
            padding-right: 70px;
            padding-top: 10px;
            font-size: 8px;
        }
    }
    @media (max-width:290px){
        .coin-name{
            float: right;
            padding-right: 40px;
            padding-top: 10px;
            font-size: 6px;
        }
    }
