*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    line-height: 1.6;
    padding: 5px;
    color: darkblue;
    background: linear-gradient(135deg,#71b7c6,#9b59b6);
}
h1{
    color: rgb(226, 17, 226);
    font-size: 30px;
    
}
h1 strong{
    color: rgb(8, 105, 143);
    font-family: sans-serif;
}
h2{
    padding-top: 0;
    margin-top: 0;
}
ul{
    list-style: none;
}
ul li {
    padding: 5px;
    background: #f4f4f4;
    margin: 5px 0;
}
#container {
    display: none;
    margin: auto;
    width: 600px;
    text-align: center;
    border-radius: 0;
    color: darkblue;
    overflow: auto;
    background: linear-gradient(135deg,#71b7c6,#e1d7e6);
}
.input-txt{
    font-weight: bold;
    color: darkblue;
}
#my-form{
    padding: 2rem;
    
}

#my-form label{
    display: block;
    color: darkblue;
    font-family: sans-serif;
    font-size: 13px;
}

#my-form input[type='text'] {
    width: 50%;
    padding: 8px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid blue;
}
.pswd-btn{
    width: 50%;
    padding: 8px;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid blue;
}
.btnlog-div{
    padding-top: 5px;
}
.btn{
    background: linear-gradient(135deg,#0f7b94,#9b59b6);
    border-bottom:  2px solid darkblue;
    border-right: 1px solid darkblue;
    border-top: 1px solid darkblue;
    border-left: 1px solid darkblue;
    border-radius: 3px;
    width: 55px;
    font-weight: bold;
    color: whitesmoke;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    padding-bottom: 1px;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.btn-f{
    background: none;
    border-bottom:  2px solid darkblue;
    border-right: 1px solid darkblue;
    border-top: 1px solid darkblue;
    border-left: 1px solid darkblue;
    border-radius: 3px;
    width: 55px;
    font-weight: bold;
    color: darkblue;
    margin: 7px;
    text-align: center;
    cursor: pointer;
    padding-bottom: 1px;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.btn-fgs{
    background: none;
    border:  2px solid whitesmoke;
    border-radius: 5px;
    width: 70px;
    font-weight: bold;
    color: whitesmoke;
    margin: 2px;
}
.msg{
    color: purple;
    font-weight: bold;
    font-size: 13px;
}
#div-pwd{
    margin: auto;
    width: 500px;
    overflow: auto;
    justify-content: center;
    padding: 3rem 2rem;
    text-align: center;
    background: black;
    border-radius: 6px;
}
.copy-sec{
    padding: 9px;
    font-size: 20px;
    color: whitesmoke;
}
.form-sec{
    display: flex;
    padding: 14px;
    margin: 7px;
    text-align: center;
    justify-content: center;
}
.userN, .coupon{
    width: 250px;
    height: 28px;
    text-align: center;
    margin: 10px;
}
.mail-class{
    width: 250px;
    height: 28px;
    text-align: center;
    margin: 10px;
}

#copy{
    background: rgb(0, 13, 128);
    color: whitesmoke;
    width: 70px;
    height: 20px;
    outline: none;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}
.saveInfo{
    font-size: 15px;
    color: whitesmoke;
}
#next{
    background: none;
    border-bottom:  2px solid whitesmoke;
    border-right: 1px solid seashell;
    border-top: 1px solid seashell;
    border-left: 1px solid seashell;
    border-radius: 3px;
    width: 50px;
    font-weight: bold;
    color: whitesmoke;
    margin: 20px;
    text-align: center;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 10px;
}
#reset-div{
    display: none;
    margin: auto;
    width: 700px;
    border-radius: 10px;
    justify-content: center;
    color: blanchedalmond;
    padding: 3rem 2rem;
    text-align: center;
    background: black;
}
.cont-reset{
    margin: 10px;
}
#reset-section{
    margin: 20px;
}
@media (max-width:500px){
    body{
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        padding: 5px;
        color: darkblue;
        background: linear-gradient(135deg,#71b7c6,#9b59b6);
    }
#div-pwd{
    padding-top: 10px;
    margin-top: 10px;
    width:  330px;
    overflow: auto;
    height: 370px;
    justify-content: center;
    text-align: center;
    background: black;
}
.userN, .coupon{
    width: 200px;
    height: 28px;
    text-align: center;
    margin: 10px;
}
.mail-class{
    width: 200px;
    height: 28px;
    text-align: center;
    margin: 10px;
}
.copy-sec{
    padding: 9px;
    font-size: 18px;
    color: whitesmoke;
}
.saveInfo{
    font-size: 14px;
    color: whitesmoke;
}
 #container {
    margin: auto;
    width: 340px;
    height: 390px;
    border-radius: 0;
    overflow: auto;
    color: darkblue;
    background: linear-gradient(135deg,#71b7c6,#e1d7e6);
    padding: 2rem 1rem;
} 
#my-form{
    padding: 2rem;
    height: 400px;
    color: whitesmoke;
}
#my-form input[type='text'] {
    width: 70%;
    height: 30px;
    padding: 8px;
    font-size: 13px;
    margin-bottom: 7px;
    border-radius: 5px;
    border: 2px solid blue;
}
.pswd-btn{
    width: 70%;
    height: 30px;
    padding: 8px;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid blue;
}
.btnlog-div{
    padding-top: 4px;
}
.btn{
    background: linear-gradient(135deg,#0f7b94,#9b59b6);
    border-bottom:  2px solid darkblue;
    border-right: 1px solid darkblue;
    border-top: 1px solid darkblue;
    border-left: 1px solid darkblue;
    border-radius: 3px;
    width: 55px;
    font-weight: bold;
    color: whitesmoke;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    padding-bottom: 1px;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.btn-f{
    background: none;
    border-bottom:  2px solid darkblue;
    border-right: 1px solid darkblue;
    border-top: 1px solid darkblue;
    border-left: 1px solid darkblue;
    border-radius: 3px;
    width: 55px;
    font-weight: bold;
    color: darkblue;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    padding-bottom: 1px;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.btn-fgs{
    background: none;
    border:  2px solid whitesmoke;
    border-radius: 5px;
    width: 70px;
    font-weight: bold;
    color: whitesmoke;
    margin: 2px;
}
.terms-div{
    font-size: 12px;
    padding: 5px;
}
.tms{
    margin: 5px;
}

#reset-div{
    margin: auto;
    width:  330px;
    overflow: auto;
    height: 60%;
    justify-content: center;
    padding: 3rem 2rem;
    text-align: center;
    background: black;
}

.cont-reset{
    margin: 10px;
}
#reset-section{
    margin: 20px;
}