*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
}

h4{
    text-align: center;
    margin-bottom: 25px;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    background: linear-gradient(135deg,#71b7c6,#9b59b6);
}
#popN{
    background: linear-gradient(135deg,#28555f,#5c2074);
    margin: 5px;
    width: 99%;
    height: 50vh;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
h2{
    font-size: 18px;
    padding: 15px;
    color: white;
}

#flexDiv{
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

form{
    padding: 1.5rem;
    
}

form label{
    display: block;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
}

form input[type='text'] {
    width: 270px;
    height: 27px;
    padding: 8px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid blue;
}

button{
    background: rgb(6, 142, 196);
    width: 15%;
    border: 2px solid whitesmoke;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: white;
    border-radius: 6px;

}
button:hover{
    background: white;
    color: rgb(6, 142, 196);
    border: 2px solid rgb(6, 142, 196);
}
#btDiv{
    padding-top: 10px;
}
#add{
    float: left;
    justify-items: left;
    text-align: left;
    color: white;
    font-size: 11px;
    
}
#btm{
    padding-top: 44px;
    font-size: 14px;
}
@media (max-width:500px){
    #popN{
        background: linear-gradient(135deg,#28555f,#5c2074);
        margin: 5px;
        width: 99%;
        height: 50vh;
        border-radius: 5px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    h2{
        font-size: 18px;
        padding: 15px;
        color: white;
    }
    
    #flexDiv{
        display: flex;
        justify-content: center;
        justify-items: center;
        text-align: center;
        margin: 0;
    }
    
    form{
        padding: 1.5rem;
        
    }
    
    form label{
        display: block;
        color: white;
        font-family: sans-serif;
        font-size: 14px;
    }
    
    form input[type='text'] {
        width: 135px;
        height: 25px;
        padding: 8px;
        background: rgb(252, 246, 246);
        text-align: center;
        margin-bottom: 10px;
        font-size: 16px;
        border-radius: 2px;
        border: 2px solid blue;
    }
    
    button{
        background: rgb(6, 142, 196);
        width: 38%;
        border: 2px solid whitesmoke;
        height: 22px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: white;
        border-radius: 6px;
    
    }
    button:hover{
        background: white;
        color: rgb(6, 142, 196);
        border: 2px solid rgb(6, 142, 196);
    }
    #btDiv{
        padding-top: 10px;
    }
    #add{
        float: left;
        justify-items: left;
        text-align: left;
        color: white;
        font-size: 11px;
        
    }
    #btm{
        padding-top: 44px;
        font-size: 14px;
    }
}